<br>
<div class="p+">
  <div class="bgc-blue-500 tc-white" flex-container="row" flex-align="center center">
    <div flex-item>
      <h2>Reportes estadísticos</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="list-group">
    <a href="#!/reporte/especialidad" class="list-group-item">
      <span class="badge">3</span>
      Por Especialidad
    </a>
    <!--<a href="#!/reporte/edad" class="list-group-item">-->
      <!--<span class="badge">0</span>-->
      <!--Por edad-->
    <!--</a>-->
    <!--<a href="#!/reporte/municipio" class="list-group-item">-->
      <!--<span class="badge">0</span>-->
      <!--Por Municipio-->
    <!--</a>-->
    <!--<a href="#!/reporte/hospital" class="list-group-item">-->
      <!--<span class="badge">0</span>-->
      <!--Por Hospital-->
    <!--</a>-->
    <a href="#!/reporte/area-salud" class="list-group-item">
      <span class="badge">3</span>
      Por Área de Salud
    </a>
    <a href="#!/reporte/pacientes-especialidad" class="list-group-item">
      <span class="badge">1</span>
      Pacientes por especialidad
    </a>
  </div>
</div>

