<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
  <div id="DataTables_Table_0_length" class="dataTables_length"><label>Show <select size="1"
                                                                                    name="DataTables_Table_0_length"
                                                                                    aria-controls="DataTables_Table_0">
    <option value="10" selected="selected">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select> entries</label></div>
  <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text"
                                                                                      aria-controls="DataTables_Table_0"></label>
  </div>
  <table class="table table-striped table-bordered dataTable dtable" cellspacing="0" width="100%"
         id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
          colspan="1" aria-sort="ascending" aria-label="Id: activate to sort column descending" style="width: 523px;">Id
      </th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
          aria-label="Nombre: activate to sort column ascending" style="width: 283px;">Nombre
      </th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
          aria-label="Acciones: activate to sort column ascending" style="width: 247px;">Acciones
      </th>
    </tr>
    </thead>

    <tbody role="alert" aria-live="polite" aria-relevant="all">
    <tr ng-repeat="droga in drogas" class="ng-scope odd" style="">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd0220f</td>
      <td class="ng-binding ">Metanfetamina</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd0220f" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd0220f" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope even">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd02210</td>
      <td class="ng-binding ">Diazepam</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd02210" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd02210" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope odd">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd02211</td>
      <td class="ng-binding ">Cafeína</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd02211" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd02211" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope even">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd02212</td>
      <td class="ng-binding ">Mescalina</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd02212" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd02212" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope odd">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd02213</td>
      <td class="ng-binding ">Oxicodona</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd02213" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd02213" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope even">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd02214</td>
      <td class="ng-binding ">Marihuana</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd02214" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd02214" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope odd">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd02215</td>
      <td class="ng-binding ">Alcohol</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd02215" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd02215" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope even">
      <td class="ng-binding  sorting_1">5a0866312a59b5b42fd02216</td>
      <td class="ng-binding ">Cigarros</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a0866312a59b5b42fd02216" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a0866312a59b5b42fd02216" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="droga in drogas" class="ng-scope odd">
      <td class="ng-binding  sorting_1">5a1b8c879827f4b0244f25dc</td>
      <td class="ng-binding ">asdsad</td>
      <td class=" ">
        <ul class="list-inline">
          <li>
            <a href="#!/backend/droga/show/5a1b8c879827f4b0244f25dc" title="Detalles">
              <i class="glyphicon glyphicon-search"></i>
            </a>
          </li>
          <li>
            <a href="#!/backend/droga/edit/5a1b8c879827f4b0244f25dc" title="Editar">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </li>
          <li>
            <a ng-click="remove(droga)" title="Eliminar">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="dataTables_info" id="DataTables_Table_0_info">Showing
  1
  to
  9
  of
  9
  entries</div>
  <div class="dataTables_paginate paging_two_button" id="DataTables_Table_0_paginate"><a
    class="paginate_disabled_previous" tabindex="0" role="button" id="DataTables_Table_0_previous"
    aria-controls="DataTables_Table_0">Previous</a><a class="paginate_disabled_next" tabindex="0" role="button"
                                                      id="DataTables_Table_0_next" aria-controls="DataTables_Table_0">Next</a>
  </div>
</div>
