<br>
<lx-tabs>
  <lx-tab label="Posts2">
    <div class="p+">
      <span>{{saludo}}</span>
    </div>
  </lx-tab>
  <lx-tab heading="Users1" setLabel="Milabel">
    <div class="p+">
      UsuariosZZZ
    </div>
  </lx-tab>
</lx-tabs>

<br>
<div class="bgc-blue-500 tc-white" flex-container="row" flex-align="center center">
  <div flex-item="4">
    <h4 class="fs-display-2 display-block">Estadísticas</h4>
  </div>
  <div flex-item="2">
    <a href="#!/reporte/especialidad">Especialidad</a>
  </div>
  <div flex-item="2">
    <a href="#!/reporte/area-salud">Área de Salud</a>
  </div>
</div>
