<div class="containerMain">
<form action="/review/upload" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <p><input type="file" id="reviews" name="reviews" /></p>
  <p><button type="submit" >Send review</button></p>
</form>
</div>
