<legend>APF</legend>

<div class="form-group">
  <label class="col-lg-2 control-label">Seleccionar cuales</label>
  <div class="col-lg-10">
    <label class="checkbox-inline">
      <input type="checkbox" value="option1"> Sordera familiar </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option2"> Trastorno del habla o lenguaje </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Trastorno del aprendizaje </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Trastorno de atención </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Trastorno visual </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Epilepsia </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Enfermedades psiquiátricas </label>
  </div>
</div>



<div class="form-group">
  <label class="col-lg-2 control-label">Examen Físico</label>
  <div class="col-lg-10">
    <textarea rows="5" cols="60" class="form-control"></textarea>
  </div>
</div>
