<form id="default" class="form-horizontal">
  <legend>Información de la madre
    <img src="/correct.png" ng-show="!!form2.$errors.required">
  </legend>
  <div class="form-group">
    <label class="col-lg-2 control-label">Edad gestacional al parto
      <img src="/correct.png" ng-show="!!form2.$errors.required">
    </label>
    <div class="col-lg-10">
      <input type="text" placeholder="Edad gestacional al parto" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Enfermedades padecidas
      <img src="/correct.png" ng-show="!!form2.$errors.required">
    </label>
    <div class="col-lg-10">
      <input type="text" placeholder="Enfermedades padecidas" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Diabetes gestacional</label>
    <div class="col-lg-10">
      <input type="text" placeholder="Diabetes gestacional" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Consumo de drogas</label>
    <div class="col-lg-10">
      <input type="text" placeholder="Cuáles?" class="form-control">
    </div>
  </div><div class="form-group">
    <label class="col-lg-2 control-label">Otras</label>
    <div class="col-lg-10">
      <input type="text" placeholder="Cuáles?" class="form-control">
    </div>
  </div>
</form>
