<legend>APP</legend>

<div class="form-group">
  <label class="col-lg-2 control-label">Seleccionar cuales</label>
  <div class="col-lg-10">
    <label class="checkbox-inline">
      <input type="checkbox" value="option1"> Trastorno del habla o lenguaje </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option2"> Trastorno del aprendizaje </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Trastorno de atención </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Trastorno del desarrollo psicomotor </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Respiración bucal </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Otitis media a repetición </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Trastorno visual </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="option3"> Epilepsia </label>
  </div>
</div>


