  <script type="text/ng-template" id="myModalContent.html" >
    <div class="modal-header">
      <h3 class="modal-title">HOLA {{items.type}}</h3>
    </div>
    <div class="modal-body">
      <h4>
        {{items.message}}
      </h4>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

